/* ****************************************************************** */
/* Basic reset */
/* ****************************************************************** */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* ****************************************************************** */
/* Base structure */
/* ****************************************************************** */
html {
	font-family: 'Manrope', sans-serif;
	font-size: 10pt;
	background-color: hsl(210, 46%, 95%);
}

main {
	padding-top: 70px;
}

a {
	display: inline-block;
	padding: 0 2px;
	color: #68A59D;
}

a:hover {
	color: #fff;
	border-radius: 4	px;
	text-decoration: none;
	background-color: #68A59D;
}

/* ****************************************************************** */
/* .post */
/* ****************************************************************** */
.post {
	margin: 0 24px 24px 24px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
}

.post .picture {
	display: block;
	width: 100%;
	margin-bottom: 40px;
}

/* ****************************************************************** */
/* .testimonial, .profille */
/* ****************************************************************** */
.testimonial,
.profile {
	margin: 0 20px;
}

/* ****************************************************************** */
/* .testimonial */
/* ****************************************************************** */
.testimonial {
	margin-bottom: 24px;
}

.testimonial h2 {
	font-size: 20px;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	margin-bottom: 24px;
}

.testimonial p {
	font-weight: 500;
	line-height: 1.7;
	color: hsl(214, 17%, 51%);
}

/* ****************************************************************** */
/* .profille */
/* ****************************************************************** */
.profile {
	margin-bottom: 24px;
}

.profile .photo {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 16px;
	overflow: hidden;
}

.profile .photo img {
	display: block;
	width: 100%;
}

.profile strong,
.profile time {
	display: block;
}

.profile strong {
	margin-bottom: 2px;
	color: hsl(217, 19%, 35%);
}

.profile time {
	color: hsl(212, 23%, 69%);
}

/* ****************************************************************** */
/* .socialmedia */
/* ****************************************************************** */
.socialmedia {
	display: none;
}

/* ****************************************************************** */
/* .attribution */
/* ****************************************************************** */
.attribution {
	display: none;
}